<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RegistrationLoginWork</display-name>
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.registerlogin.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/pages/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.registerlogin.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/pages/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addNewProperty</servlet-name>
    <servlet-class>com.onlineproperty.addNewProperty.AddNewProperty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewProperty</servlet-name>
    <url-pattern>/pages/addNewProperty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>additem</servlet-name>
    <servlet-class>com.onlineproperty.additem.addItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>additem</servlet-name>
    <url-pattern>/pages/addItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checklogintoadditem</servlet-name>
    <servlet-class>com.onlineproperty.checkloginToAddItem.checkLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checklogintoadditem</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addpropertydetails</servlet-name>
    <servlet-class>com.onlineproperty.addpropertydetails.addPropertyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addpropertydetails</servlet-name>
    <url-pattern>/pages/addProperty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addeminities</servlet-name>
    <servlet-class>com.onlineproperty.addeminities.addEminities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addeminities</servlet-name>
    <url-pattern>/pages/addEminities</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.onlineproperty.logout.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/pages/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nologout</servlet-name>
    <servlet-class>com.onlineproperty.logout.nologout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nologout</servlet-name>
    <url-pattern>/pages/nologout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listselleritem</servlet-name>
    <servlet-class>com.onlineproperty.listselleritems.listSellerItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listselleritem</servlet-name>
    <url-pattern>/pages/listSellerItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit</servlet-name>
    <servlet-class>com.onlineproperty.edit.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/pages/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editItem</servlet-name>
    <servlet-class>com.onlineproperty.editItem.editItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editItem</servlet-name>
    <url-pattern>/pages/editItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteProperty</servlet-name>
    <servlet-class>com.onlineproperty.deleteProperty.DeleteProperty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProperty</servlet-name>
    <url-pattern>/pages/deleteProperty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Buyer</servlet-name>
    <servlet-class>com.onlineproperty.buyer.Buyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buyer</servlet-name>
    <url-pattern>/Buyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listBuyerItems</servlet-name>
    <servlet-class>com.onlineproperty.listBuyerItems.listBuyerItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listBuyerItems</servlet-name>
    <url-pattern>/pages/listBuyerItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addtocart</servlet-name>
    <servlet-class>com.onlineproperty.addtocart.addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocart</servlet-name>
    <url-pattern>/pages/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>iBuyer</servlet-name>
    <servlet-class>com.onlineproperty.buyer.Buyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>iBuyer</servlet-name>
    <url-pattern>/pages/Buyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>filteredQuery</servlet-name>
    <servlet-class>com.onlineproperty.filterItems.filterItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filteredQuery</servlet-name>
    <url-pattern>/pages/filteredQuery</url-pattern>
  </servlet-mapping>
</web-app>